<div class="flex justify-center items-center h-screen bg-gray-100">
    <div class="bg-white p-8 rounded shadow-md w-full max-w-sm">
        <h2 class="text-2xl font-bold mb-6 text-center">Login</h2>

        <form (ngSubmit)="realizarLogin()">
            <div class="mb-4">
                <label class="block text-gray-700">Email</label>
                <input type="email" [(ngModel)]="loginRequest.email" name="email" required
                    class="w-full p-2 border rounded" />
            </div>

            <div class="mb-4">
                <label class="block text-gray-700">Senha</label>
                <input type="password" [(ngModel)]="loginRequest.senha" name="senha" required
                    class="w-full p-2 border rounded" />
            </div>

            <div *ngIf="erroLogin" class="text-red-500 text-sm mb-4">{{ erroLogin }}</div>

            <button type="submit" class="w-full bg-blue-600 text-white p-2 rounded hover:bg-blue-700">
                Entrar
            </button>
        </form>
    </div>
</div>