<header class="bg-blue-600 text-white px-4 py-3 flex items-center justify-between">
    <div class="flex items-center gap-2">
        <img src="assets/IATEC-vertical-branco.png" alt="Logo" class="h-8 w-8 object-contain" />
        Agenda IATEC
    </div>

    <div *ngIf="usuarioLogado; else boasVindas" class="flex items-center gap-4">
        <span class="text-sm">Olá, {{ usuarioLogado }}</span>
        <button (click)="logout()" class="bg-red-500 hover:bg-red-600 px-3 py-1 rounded">Logout</button>
    </div>

    <ng-template #boasVindas>
        <span class="text-sm">Bem-vindo à Agenda IATEC</span>
    </ng-template>
</header>